

$menuTransform: -260px


body, html
	margin: 0
	padding: 0
	width: 100%
	height: 100%

#navbar h1
	margin-left: 3.5rem

#tools
	width: 300px
	position: fixed
	top: 0
	left: 0
	bottom: 0
	transform: translateX($menuTransform)

	&.is-open
		transform: translateX(0)
		animation: slide-in 0.5s ease
	&.is-closed
		transform: translateX($menuTransform)	
		animation: slide-out 0.75s ease

	.menu .button
		display: block
		border-top: 0
		border-left: 0
		border-radius: 0
		text-align: left

#zoom
	position: fixed
	bottom: 1rem
	right: 1rem

	.is-text
		text-decoration: none

#map
	width: 100%
	height: 100%

@keyframes slide-in
	from
		transform: translateX($menuTransform)
	to
		transform: translateX(0)


@keyframes slide-out
	from
		transform: translateX(0)
	to
		transform: translateX($menuTransform)
