

$menuTransform: -260px


body, html
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	overflow: hidden

// id specific overrides
#navbar
	margin-bottom: 0
	padding-right: 1rem

	h1
		margin-left: 3.5rem

#menu .icon.colour-picker
	i
		text-shadow: 1px 0 0 #f5f5f5, -1px 0 0 #f5f5f5, 0 1px 0 #f5f5f5, 0 -1px 0 #f5f5f5

	&.transparent
		color: red

#tools
	width: 300px
	position: fixed
	top: 0
	left: 0
	bottom: 0
	transform: translateX($menuTransform)

	&.is-open
		transform: translateX(0)
		animation: toolbar-slide-in 0.5s ease
	&.is-closed
		transform: translateX($menuTransform)	
		animation: toolbar-slide-out 0.75s ease

	.menu li.button, .menu li>.button
		display: block
		border-top: 0
		border-left: 0
		border-radius: 0
		text-align: left

	.colour-picker
		.button
			text-align: left
			display: block

			.icon.is-pulled-right i
				text-shadow: 1px 0 0 #363636, -1px 0 0 #363636, 0 1px 0 #363636, 0 -1px 0 #363636

		&.is-active .button
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0

	.expander
		background-color: rgb(232,232,232)
		max-height: 0
		overflow: hidden
		transition: max-height 0.2s ease-out
		border-radius: 0 0 4px 4px

		.expander-container
			margin: 0.5rem 0.5rem 1rem

	.tabs-container
		margin-top: 2rem

	section h3
		border-top: 1px solid rgb(219,219,219)
		margin-top: 0.5rem
		padding-top: 0.5rem

	.field.has-addons .control
		flex-grow: 1

		.button
			width: 100%

#zoom
	position: fixed
	bottom: 1rem
	right: 1rem

	.is-text
		text-decoration: none

#map
	width: 100%
	height: 100%


// general classes and overrides
.full-screen
	width: 100%
	height: 100%

.notification-container
	position: fixed
	bottom: 0
	left: 0
	right: 0
	transform: translateY(100%)
	animation: notification-slide-out 0.75s ease

	&.is-active
		transform: translateY(0)
		animation: notification-slide-in 0.5s ease

	.notification
		width: 60%
		margin: 0 auto 2rem

a.dropdown-item, button.dropdown-item
	padding-right: 1rem

.tab-panel section
	margin: 0.5rem

.label
	margin-bottom: 0 !important

.is-centred
	text-align: center

.image-panel
	.delete
		position: absolute
		top: 0.5rem
		right: 0.5rem

	.drop-zone
		background-color: white
		border-radius: 4px
		padding: 0.5rem
		border: 1px solid rgb(219,219,219)
		margin-bottom: 1rem

		.is-centred
			margin-top: 1rem

figcaption.content.is-small
	padding-top: 0.5rem

	strong
		display: inline-block
		width: 5rem
		text-align: right
		margin-right: 0.5rem

// animations
@keyframes toolbar-slide-in
	from
		transform: translateX($menuTransform)
	to
		transform: translateX(0)


@keyframes toolbar-slide-out
	from
		transform: translateX(0)
	to
		transform: translateX($menuTransform)

@keyframes notification-slide-in
	from
		transform: translateY(100%)

	to
		transform: translateY(0)

@keyframes notification-slide-out
	from
		transform: translateY(0)

	to
		transform: translateY(100%)
